@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@321&display=swap");
.container {
    width: 361px;
    border: 1px solid black;
    height: 1500px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    color: black;
}

.title>h1 {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

.title {
    display: flex;
    flex-direction: column;
}

.serve {
    padding: 0px;
    margin: 0px;
    font-size: 15 px;
    font-family: "Open Sans", sans-serif;
}

.line1 {
    background-color: #1a1818;
    border: 7px solid;
    width: 95%;
    margin-top: 0px;
}

.amount {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -20px;
    margin-bottom: 15px;
}

.amount1 {
    margin-left: 15px;
    margin-top: -25px;
}

.column1 {
    flex-basis: 52%;
    /* margin: 15px; */
}

.column2,
.column3 {
    flex-basis: 24%;
    text-align: right;
}

.line2 {
    /* background-color: #1a1818; */
    border: 1px solid gray;
    width: 95%;
    margin-top: -31px;
    margin-left: 15px;
}

.line3 {
    border: 1px solid black;
    width: 99%;
    margin-top: -30px;
    /* how to move it to the right? */
}

.line4 {
    border: 4px solid black;
    width: 97%;
    margin-top: -31px;
}

.line5 {
    border: 2px solid black;
    width: 97%;
    margin-top: -16px;
}

.line6 {
    border: 1px solid gray;
    width: 95%;
    margin-top: -31px;
    margin-left: 15px;
}

.line7 {
    border: 1px solid gray;
    width: 99%;
    margin-top: -31px;
    margin-left: 1px;
}

#daily {
    display: flex;
    justify-content: flex-end;
    margin-top: -8px;
}

.cholestrol {
    margin-top: -25px;
}

.sodium {
    margin-top: -25px;
}

.protein {
    margin-top: -26px;
}

.secondline {
    margin-top: -31px;
}

.vit {
    margin-top: -5px;
}

.text {
    margin-top: -23px;
}

.totalfat {
    display: flex;
    justify-content: space-around;
    padding-left: 64px;
    margin-top: -25px;
}

.totalfat2 {
    display: flex;
}

.totalfat3 {
    display: flex;
}

.totalfat4 {
    display: flex;
}

.lintotalfat {
    margin-top: -15px;
}

.topictotalfat {
    margin-left: 33px;
}

.totalfat1 {
    margin-left: -42px;
}